= form_for @dashboard do |f|
  - if @dashboard.errors.any?
    #error_explanation
      %h3
        = pluralize(@dashboard.errors.count, "error")
        prohibited this dashboard from being saved:
      %ul
        - @dashboard.errors.full_messages.each do |msg|
          %li= msg
  = f.label :title
  = f.text_field :title, :placeholder => 'e.g. Acme Corp. HQ'
  = f.label :address
  = f.text_field :address, :placeholder => 'e.g. 1100 Penn. Ave NW'
  = f.label :desc
  = f.text_field :desc, :placeholder => 'e.g. some motto'
  = f.label :public
  = f.check_box :public
  = f.label :lat
  = f.text_field :lat, class: 'lat'
  = f.label :lon
  = f.text_field :lon, class: 'lon'
  = f.label :stop_id_str
  = f.text_field :stop_id_str
  = f.submit
