%h2 Edit Dashboard?
= render 'form'
= render 'stops_info'
= render 'map'
= link_to 'delete', dashboard_path(@dashboard), method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'back', dashboards_path
