%h2 Edit Dashboard?
= render 'stops_info'
= render 'map'
= render 'form'
= link_to 'Delete', dashboard_path(@dashboard), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn waves-effect waves-light'
= link_to 'Cancel', dashboards_path, :class => 'btn waves-effect waves-light'
