#dashboard_header.card
  %h2= @dashboard.title
  %p= @dashboard.desc
  %p#lat= @dashboard.lat
  %p#lon= @dashboard.lon
  %p= @dashboard.user_id
  %p= "Viewing Arrival Times for These Stop #s: #{@dashboard.stop_id_str}"
  -# = @predictions.inspect
  = link_to 'edit', edit_dashboard_path(@dashboard)
  = link_to 'delete', dashboard_path(@dashboard), method: :delete, data: { confirm: 'Are you sure?' }
.card= render 'map'
- @predictions.each do |stop|
  .bus_stop_card.card
    %h3= "#{stop['StopName']} (#{stop['StopID']})"
    %table
      %thead
        %tr
          %th Minutes
          %th RouteID
          %th DirectionText
          -# %th DirectionNum
          %th VehicleID
          %th TripID
      %tbody
        - stop['Predictions'].each do |p|
          %tr
            %td= p['Minutes']
            %td= p['RouteID']
            %td= p['DirectionText']
            -# %td= p['DirectionNum']
            %td= p['VehicleID']
            %td= p['TripID']
