%h3 Location#show
%p
  = @location.lat
  = @location.lon
  = @stops

-# = render partial: 'stop', collection: @stops

- @predictions.each do |stop|
  .bus_stop_card
    %h3= "#{stop['StopName']}"
    %table
      %thead
        %tr
          %th Minutes
          %th RouteID
          %th DirectionText
          -# %th DirectionNum
          %th VehicleID
          %th TripID
      %tbody
        - stop['Predictions'].each do |p|
          %tr
            %td= p['Minutes']
            %td= p['RouteID']
            %td= p['DirectionText']
            -# %td= p['DirectionNum']
            %td= p['VehicleID']
            %td= p['TripID']
